<html> 
<head>
<title> 智普开源---知识框架</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="description" content="知识框架|Linux编程|开源站点|智普" />
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link href="{{=url_for_static('bootstrap/css/bootstrap.css')}}" rel="stylesheet" type="text/css" / >
<link href="{{=url_for_static('bootstrap/css/bootstrap-responsive.css')}}" rel="stylesheet" type="text/css" / >
{{use "jquery"}}
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js?ver=2"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap-tooltip.js?ver=2"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap-popover.js?ver=2"></script>
<script type="text/javascript" src="/static/bootstrap/js/application.js"></script>



</head> 
{{include "menu.html"}}

 <body data-spy="scroll" data-target=".subnav" data-offset="20">
       
            <img class="fixed-logo" src="/static/bootstrap/img/jeap-logo.png">
	<div class="navbar" >
		<div class="navbar-inner ">
			<div class="container">
            <!--Google站内搜索开始-->
            <form class="navbar-search pull-left" method=get action="http://www.google.com/search">
            <input class="input-medium search-query" style="height:24px" type=text name=q>
            <input class="btn" type=submit name=btnG value="搜索本站">
            <input type=hidden name=ie value=utf-8>
            <input type=hidden name=oe value=utf-8>
            <input type=hidden name=hl value=zh-CN>
            <input type=hidden name=domains value="frame.jeapedu.com">
            <input type=hidden name=sitesearch value="frame.jeapedu.com">
            </form>



			<ul class="nav pull-right">
			
         		<!--li><a href=/points/add_p/填写知识点>新建知识点</a> </li> 
         		<li><a href=/course/add_c>新建课程</a> </li-->
                {{if hasattr(request, 'user') and request.user:}}
                   <li> <a  href=>欢迎{{=request.user.username}}</a> </li><li> <a href="/logout">退出</a></li>
                {{else:}}
                   <li> <a href="/login">登录</a> </li> <li><a href="/register">注册</a></li>
                {{pass}}
			</ul>
    	  </div> 
       </div> 
    </div>


 <div class="container"> 

	<div class="subnav" >
    		 <ul class="nav nav-pills" id="subnav"> 
       			<li><a href='/'><img src="/static/bootstrap/img/1.png"> 首页</a></li> 
       			<li><a href=/course/ rel="popover" title="课程" data-content="总结了学习本课程需要的知识点"><img src="/static/bootstrap/img/2.png"> 课程</a></li> 
       			<li><a href=/points/ rel="popover" title="知识点" data-content="重要知识的总结"><img src="/static/bootstrap/img/3.png"> 知识点</a></li> 
       			<li><a href=/regs/ rel="popover" title="查询寄存器" data-content="此模块是为驱动开发准备的；您可以通过这个模块查询设备寄存器含义"><img src="/static/bootstrap/img/4.png"> 设备寄存器</a></li> 
       			<li><a href=http://www.clkg.org/bbs/index.php/board,10.0.html><img src="/static/bootstrap/img/5.png"> 帮助和提问</a></li> 
     		</ul> 
    </div> 
 
 {{block content}}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="sidebar-nav">
        {{block content_sidebar}}

        {{end content_sidebar}}         
      </div><!--/.well -->

    </div><!--/span-->
    <div class="span4 content-container">
        <div class="content_tool">
            {{block content_tool}}
            {{end}}
        </div>
        <div class="clearfix content-outter">
            {{block content_main}}
            {{end}}
        </div>    
    </div><!--/span-->
    

    
  </div><!--/row-->
</div>
{{end content}}


 
 </div> <!--container-->
<footer class="footer">  
 <hr>
 <p> Jeap@2012    联系邮件: asmcos @ gmail </p>
 <p>Web source code <a href=https://github.com/asmcos/jeap>Download </a></p>
</footer>

  </body>
</html>
