<html> 
<head>
<title> 智普开源---知识框架</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="description" content="知识框架|Linux编程|开源站点|智普" />
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link href="{{=url_for_static('bootstrap/css/bootstrap.css')}}" rel="stylesheet" type="text/css" / >
<link href="{{=url_for_static('bootstrap/css/bootstrap-responsive.css')}}" rel="stylesheet" type="text/css" / >
   <style> 
      body {
        padding-left: 30px; 
      }
    </style> 

</head> 


 <body data-spy="scroll" data-target=".subnav" data-offset="20">
       
	<div class="navbar" >
		<div class="navbar-inner" >
			<div class="container">
            <!--Google站内搜索开始-->
            <form class="navbar-search pull-left" method=get action="http://www.google.com/search">
            <input class="input-medium search-query" style="height:24px" type=text name=q>
            <input class="btn" type=submit name=btnG value="搜索本站">
            <input type=hidden name=ie value=utf-8>
            <input type=hidden name=oe value=utf-8>
            <input type=hidden name=hl value=zh-CN>
            <input type=hidden name=domains value="frame.jeapedu.com">
            <input type=hidden name=sitesearch value="frame.jeapedu.com">
            </form>



			<ul class="nav pull-right">
			
         		<!--li><a href=/points/add_p/填写知识点>新建知识点</a> </li> 
         		<li><a href=/course/add_c>新建课程</a> </li-->
                {{if hasattr(request, 'user') and request.user:}}
                   <li> <a  href=>欢迎{{=request.user.username}}</a> </li><li> <a href="/logout">退出</a></li>
                {{else:}}
                   <li> <a href="/login">登录</a> </li> <li><a href="/register">注册</a></li>
                {{pass}}
			</ul>
    	  </div> 
       </div> 
    </div>


 <div class="container"> 

	<div class="subnav" >
    		 <ul class="nav nav-pills"> 
       			<li><a href='/'>首页</a></li> 
       			<li><a href=/course/>课程</a></li> 
       			<li><a href=/points/>知识点</a></li> 
       			<li><a href=/regs/>设备寄存器</a></li> 
       			<li><a href=http://www.clkg.org/bbs/index.php/board,10.0.html>帮助和提问</a></li> 
     		</ul> 
    </div> 
  {{block content}}{{end}}
 
 </div> <!--container-->
<footer class="footer">  
 <hr>
 <p> Jeap@2012    联系邮件: asmcos @ gmail </p>
 <p>Web source code <a href=https://github.com/asmcos/jeap>Download </a></p>
</footer>

  </body>
</html>
