<html> 
<head>
<title> 智普开源---知识框架</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="description" content="知识框架|Linux编程|开源站点|智普" />
<link href="{{=url_for_static('bootstrap/css/bootstrap.css')}}" rel="stylesheet" type="text/css" / >
<link href="{{=url_for_static('bootstrap/css/bootstrap-responsive.css')}}" rel="stylesheet" type="text/css" / >
   <style> 
      body {
        padding-left: 30px; 
      }
    </style> 

</head> 


 <body data-spy="scroll" data-target=".subnav" data-offset="20">

       
	<div class="navbar" >
		<div class="navbar-inner" >
			<div class="container">
			<ul class="nav pull-right">
			
         		<!--li><a href=/points/add_p/填写知识点>新建知识点</a> </li> 
         		<li><a href=/course/add_c>新建课程</a> </li-->
                {{if hasattr(request, 'user') and request.user:}}
                   <li> <a  href=>欢迎{{=request.user.username}}</a> </li><li> <a href="/logout">退出</a></li>
                {{else:}}
                   <li> <a href="/login">登录</a> </li> <li><a href="/register">注册</a></li>
                {{pass}}
			</ul>
    	  </div> 
       </div> 
    </div> 
	<div class="subnav" >
    		 <ul class="nav nav-pills"> 
       			<li><a href='/'>首页</a></li> 
       			<li><a href=/course/>课程</a></li> 
       			<li><a href=/points/>知识点</a></li> 
     		</ul> 
    </div> 
  {{block content}}{{end}}
 
<footer class="footer">  
 <hr>
 <p> Jeap@2012    联系邮件: asmcos @ gmail </p>
 <p>Web source code <a href=https://github.com/asmcos/jeap>Download </a></p>
</footer>

  </body>
</html>
