{{extend "base.html"}}
{{block content}}


 <!-- Example row of columns --> 
      <div class="row"> 
          <div class="span3"> 
          
          <div class="well">
           <code> {{=p.p_name}}依赖以下知识点：</code> </p> 
	  		{{for np in pd:}}
				<td> {{=np.d_parent_name}}</td>
	  		{{pass}} 
           </div> 

          <div class="well"> 
           <code>
	        以下知识点依赖{{=p.p_name}}：</code> </p>
		    {{for nc in cd:}}
			  <td> {{=nc.d_name}}</td>
	  	    {{pass}}
          </div> 
        
       </div> <!--span3-->

         <div class="span8"> 
           	<!-- table border="1" class="tb" style="border-collapse: collapse; margin:0 auto" bordercolor="#FFF" -->	
			<table class="table table-striped table-bordered table-condensed">
				<tr>
				<td>{{=p.p_name}}的具体信息：</td>
				</tr>
	     </table>
				<div class="well">{{<<p.p_desc}}</div>
			<table class="table table-striped table-bordered table-condensed">
				<tr>
				<td>相关网址:</td> 
				<td>{{=p.p_av_addr}}</td> 
				</tr>
	     </table>
			<table class="table table-striped table-bordered table-condensed">
				<td><a class="btn btn-primary" href='/points/add_d/{{=p.p_name}}'>添加依赖</a>
				<td><a class="btn btn-primary" href='/points/edit_p/{{=p.p_name}}/{{=p.id}}'><i class="icon-pencil"></i> 修改知识点</a>
				<td><a class ="btn btn-danger" href='/points/delete_p/{{=p.id}}'><i class="icon-trash"></i>删除知识点</a>
	     </table>
			感谢 {{=p.adminname}} 对本知识点管理维护</br>
		<hr>		
			{{for co in comm:}}
				{{=co.username}}于{{=co.datetime}}发表了：<a href='/points/delete_pco/{{=co.id}}'>删除</a>
			    <div class="well">	
				{{<<co.comm_desc}}</div>
			{{pass}} 
     	{{use "xheditor"}}
       <div class="form" style="width:700px;text-align:left ">
		 {{<<form}} 
	   </div>
	
    </div> 
        


     
  </div> 


{{include "inc_xheditor_plugins.html"}}
<script type="text/javascript">
    $(function(){
        $('textarea').xheditor({
            tools:'Cut,Copy,Paste,Pastetext,|,Blocktag,Fontface,FontSize,Bold,Italic,Underline,Strikethrough,FontColor,BackColor,SelectAll,Removeformat,|,Align,List,Outdent,Indent,|,Link,Unlink,Anchor,Img,Flash,Hr,Emot,Table,Code,Quote,|,About',
            skin:'default',
            upFlashExt:"swf",
            plugins:plugins,
            height:150,
            width:450,
        });
    });
</script>
{{end}}
