   
{{extend "base.html"}}  

{{block content}}


   <div class="row">
	<div class="span10">
	  <div class="well">
	    大智弱愚，普济群生 
          <table>
			<tr><td>本网站为开源自助型学科建设网站，以总结课程、项目、岗位的知识点为主；</p>
				帮助新手整理思路达到快速学习总结的目的。</td></tr>
			<tr><td> </td></tr> 
           </table>
	  </div>
	    <table class="table table-bordered table-striped">  
		   <tbody>
			{{for n in mains:}}
			<tr><td> {{=n.username}}</td><td>于{{=n.datetime}}</td><td>{{=n.action}}</td><td>{{=n.objs}}</td></tr>
			{{pass}}
		   </tbody>
		</table>
	 </div>
	</div>

{{end}}
