   
{{extend "base.html"}}  

{{block content}}


  <div class="row"> 
	<div class="span8">
	  <pre>
       智普开源是基于Linux系统的互联网开源学习平台，讲求务实、朴素的治学理念，致力于中国Linux系统的学科建设和人才培养，为数以万计的莘莘学子提供了最有效的网络互动学习平台，以及全面的Linux系统学习资讯等服务。</p>
       智普开源的核心竞争力在于Linux内核、Linux驱动等方面的教与学，创建的初衷是帮助学习者建设起学校教育与工作岗位实际需求之间的桥梁，智普团队在此方面更是有着十多年的开发、管理、教学经验，我们始终秉承着“成就学生，务实创新”的理念，专注于为中国培育合格的Linux开发工程师，为学习者构建极具升值潜力的职业发展道路。</p>
       智普精神：追求卓越，务实专注，团队协作，守信尽责。</p>
       智普品格：诚信，进取，创新，奉献，平等。</p>
       智普愿景：成为全国最受尊敬的交流平台。</p>
       智普使命：让学习变得更简单，更快乐，更有效。</pre>
    </div>
 </div>

  <div class="row">
	<div class="span5 ">
	  <div class="well">
			最近添加的课程
			<hr>
	    <table class="table table-bordered table-striped">  
		   <tbody>
			{{for n in courses:}}
			<tr><td><a href='/course/display_c/{{=n.c_name}}/{{=n.id}}'>{{=n.c_name}}</a ></td></tr>
			{{pass}}
		   </tbody>
		</table>
	  </div>
	  </div> <!--span5--> 
		
	
	<div class="span5 ">
	   <div class="well">
			最近添加的知识点
			<hr>
	    <table class="table table-bordered table-striped">  
		   <tbody>
			{{for n in points:}}
			<tr><td><a href='/points/display_p/{{=n.p_name}}/{{=n.id}}'> {{=n.p_name}}</a></td></tr>
			{{pass}}
		   </tbody>
		</table>
		
	   </div>
	</div> <!--span5-->
	
 </div> <!--row-->

	<div class="row">
	<div class="span10">
      <table class="table table-bordered table-striped" >
			{{for n in event:}}
			<tr style="font-size:12px"><td> {{=n.username}}</td><td>于{{=n.datetime}}</td><td>{{=n.action}}</td><td>{{=n.objs}}</td></tr>
			{{pass}}
		</table>
	</div>
 </div> <!--row-->

{{end}}
