{{extend "base.html"}}
{{block content}}


 <!-- Example row of columns --> 
      <div class="row"> 

         <div class="span6">

			<table class="table table-striped table-bordered table-condensed">
				<tr>
				<td>{{=d.device_name}} 的寄存器</td>
				</tr>
	     </table>
			<table class="table table-striped table-bordered table-condensed">
			{{for n in r:}}
				<tr>
					<td><a href='/regs/display_r/{{=n.reg_name}}/{{=n.id}}'>{{=n.reg_name}}</a></td>
					<td><a href='/regs/delete_r/{{=n.id}}'>删除</a></td>
				</tr>
			{{pass}}
	     </table>
			<table class="table table-striped table-bordered table-condensed">
				<td><a class="btn btn-primary" href='/regs/add_r/{{=d.device_name}}/{{=d.id}}'>添加寄存器</a>
				<td><a class ="btn btn-danger" href='/regs/delete_device/{{=d.id}}'><i class="icon-trash"></i>删除设备</a>
	     </table>
			感谢 {{=d.adminname}} 对本设备维护</br>
		<hr>		
     
      </div> <!--span6-->
  </div>  <!--row-->


{{include "inc_xheditor_plugins.html"}}
<script type="text/javascript">
    $(function(){
        $('textarea').xheditor({
            tools:'Cut,Copy,Paste,Pastetext,|,Blocktag,Fontface,FontSize,Bold,Italic,Underline,Strikethrough,FontColor,BackColor,SelectAll,Removeformat,|,Align,List,Outdent,Indent,|,Link,Unlink,Anchor,Img,Flash,Hr,Emot,Table,Code,Quote,|,About',
            skin:'default',
            upFlashExt:"swf",
            plugins:plugins,
            height:150,
            width:450,
        });
    });
</script>
{{end}}
