{{extend "base.html"}}
{{block content}}


 <!-- Example row of columns --> 
      <div class="row"> 

         <div class="span6">
            <div class="well">
             本程序提供寄存的具体含义查询。输入一个16进制的数字即可查询。
             例如：（8f2a4）</p>
             寄存器的含义是在线添加的，有些含义可能添加不全，您也可以在线添加位说明。
			<form class="form" action="/regs/search/{{=r.id}}" method="POST">
    						<input class="field" id="field_rvalue" name="rvalue" type="text" value=""></input>

        				<input class="button" name="submit" type="submit" value="查询"></input>
			</form>
            </div>

           	<!-- table border="1" class="tb" style="border-collapse: collapse; margin:0 auto" bordercolor="#FFF" -->	
			<table class="table table-striped table-bordered table-condensed">
				<tr>
				<td>{{=r.device_name}}的{{=r.reg_name}}寄存器：</td>
				</tr>
	     </table>
				<div class="well">{{<<r.reg_desc}}</div>
			<table class="table table-striped table-bordered table-condensed">
			{{for n in b:}}
				<tr>
					<td>[{{=n.bits_sbit}}-{{=n.bits_ebit}} ]</td> <td>{{=n.bits_name}}</td> 
					<td><div class="btn_new"><a href='/regs/add_mean/{{=n.bits_name}}/{{=n.id}}'>添加含义</a></div></td>
					<td><div class="btn_new"><a href='/regs/delete_b/{{=n.id}}'>删除</a></div></td>
				</tr>
             {{for m in ms:}}
                {{if int(m.bits_id)==n.id:}}
				<tr>
                    <td></td>
					<td>{{=m.val}} </td> <td>{{=m.meanings}}</td> 
					<td><div class="btn_new"><a href='/regs/delete_mean/{{=m.id}}'>删除</a></div></td>
			 	</tr>
			    {{pass}}
			  {{pass}}
			{{pass}}
	     </table>
			<table class="table table-striped table-bordered table-condensed">
				<td><a class="btn btn-primary" href='/regs/add_b/{{=r.reg_name}}/{{=r.id}}'>添加位说明</a>
				<td><a class="btn btn-primary" href='/regs/edit_r/{{=r.reg_name}}/{{=r.id}}'><i class="icon-pencil"></i> 修改寄存器</a>
				<td><a class ="btn btn-danger" href='/regs/delete_r/{{=r.id}}'><i class="icon-trash"></i>删除改寄存器</a>
	     </table>
			感谢 {{=r.adminname}} 对本知识点管理维护</br>
		<hr>		
     
      </div> <!--span6-->
  </div>  <!--row-->


{{include "inc_xheditor_plugins.html"}}
<script type="text/javascript">
    $(function(){
        $('textarea').xheditor({
            tools:'Cut,Copy,Paste,Pastetext,|,Blocktag,Fontface,FontSize,Bold,Italic,Underline,Strikethrough,FontColor,BackColor,SelectAll,Removeformat,|,Align,List,Outdent,Indent,|,Link,Unlink,Anchor,Img,Flash,Hr,Emot,Table,Code,Quote,|,About',
            skin:'default',
            upFlashExt:"swf",
            plugins:plugins,
            height:150,
            width:450,
        });
    });
</script>
{{end}}
