   {{extend "base.html"}}  
{{block content}}

{{use "ztree"}}

 <SCRIPT LANGUAGE="JavaScript">
    var setting = {
            data:{
                simpleData:{
                    enable:true,
                    idKey:'id',
                    pIdKey:'pId'
                    }
                },
            async:{
                enable:true,
                url:"/getregsdata"
                }
    };

    $(document).ready(function(){
        $.fn.zTree.init($("#treeRegs"), setting);
    });

</SCRIPT>

<div class="span4">
 <div class="well">
   <div class="btn_new"><a href='/regs/add_soc'>新添加soc</a></div>
    <hr>
    <ul id="treeRegs" class="ztree"></ul>
 </div>
</div>




{{end}}
