{{extend "base.html"}}
{{block content}}


 <!-- Example row of columns --> 
      <div class="row"> 

         <div class="span6">

			<form class="form" action="/regs/search/{{=r.id}}" method="POST">
    				<label class="field" for="field_rvalue">请输入寄存器的值(16进制):<span class="field_required">*</span>
						</label>
    						<input class="field" id="field_rvalue" name="rvalue" type="text" value=""></input>

        				<input class="button" name="submit" type="submit" value="查询"></input>
			</form>


           	<!-- table border="1" class="tb" style="border-collapse: collapse; margin:0 auto" bordercolor="#FFF" -->	
			<table class="table table-striped table-bordered table-condensed">
				<tr>
				<td>{{=r.device_name}}的{{=r.reg_name}}寄存器：</td>
				</tr>
	        </table>
				<div class="well">{{<<r.reg_desc}}</div>


			<table class="table table-striped table-bordered table-condensed">
			{{for n in b1:}}
				<tr>
					<td>[{{=n.bits_sbit}}-{{=n.bits_ebit}} ]</td><td>值：{{=n.val}}</td><td>{{=n.bits_name}}</td> 
					<td><a href='/regs/delete_b/{{=n.id}}'>删除</a></td>
					<td><a href='/regs/add_mean/{{=n.bits_name}}/{{=n.id}}'>添加含义</a></td>
				</tr>
			{{pass}}
	     </table>
			
		<table class="table table-striped table-bordered table-condensed">
				<tr><td>您查询的"0x{{=rvalue}}"结果如下:</td></tr>
			{{for n1 in m:}}
				<tr>
				<td>{{=n1.bits_name}}</td> 
				<td>值是：{{=n1.val}}</td><td>含义是：{{=n1.meanings}}</td>
				</tr>
			{{pass}}
	     </table>



			<table class="table table-striped table-bordered table-condensed">
				<td><a class="btn btn-primary" href='/regs/add_b/{{=r.reg_name}}/{{=r.id}}'>添加位说明</a>
				<td><a class="btn btn-primary" href='/regs/edit_r/{{=r.reg_name}}/{{=r.id}}'><i class="icon-pencil"></i> 修改寄存器</a>
				<td><a class ="btn btn-danger" href='/regs/delete_r/{{=r.id}}'><i class="icon-trash"></i>删除改寄存器</a>
	     </table>
			感谢 {{=r.adminname}} 对本知识点管理维护</br>
		<hr>		
     
      </div> <!--span6-->
  </div>  <!--row-->


{{include "inc_xheditor_plugins.html"}}
<script type="text/javascript">
    $(function(){
        $('textarea').xheditor({
            tools:'Cut,Copy,Paste,Pastetext,|,Blocktag,Fontface,FontSize,Bold,Italic,Underline,Strikethrough,FontColor,BackColor,SelectAll,Removeformat,|,Align,List,Outdent,Indent,|,Link,Unlink,Anchor,Img,Flash,Hr,Emot,Table,Code,Quote,|,About',
            skin:'default',
            upFlashExt:"swf",
            plugins:plugins,
            height:150,
            width:450,
        });
    });
</script>
{{end}}
